.footer {
    padding: 20px;
    background-color: $black;

    @include for-tablet {
        padding: 20px 0;
    }

    &__menu {
        display: grid;
        grid-template-columns: repeat(5, minmax(230px, 1fr));
        grid-gap: 20px;
        margin-bottom: 40px;

        @include for-desktop-big {
            grid-template-columns: repeat(3, 1fr);
        }

        @include for-mobile {
            grid-template-columns: 1fr;
            grid-row-gap: 40px;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;

        &-body {
            display: flex;
            flex-direction: column;

            @include for-tablet {
                display: none;

                &--visible {
                    display: flex;
                    margin-top: 15px;
                }
            }            
        }

        @include for-mobile {
            padding-bottom: 16px;
            border-bottom: 1px solid rgba($white, .1);

            &:nth-child(1), &:nth-child(2) {
                .footer__title {
                    margin-bottom: 0;
                }
            }
        }

        &-title {
            position: relative;
            text-decoration: none;

            &::after {
                @include for-tablet {
                    content: "▼";
                    font-size: 14px;
                    position: absolute;
                    right: 0;
                    top: 8px;
                }
            }
        }
    }

    &__title {
        font-size: 22px;
        color: $white;
        margin-bottom: 18px;
    }

    &__link {
        text-decoration: none;
        font-size: 16px;
        line-height: 24px;
        color: #e0e0e0;
    }

    &__icon {
        max-width: 24px;
        max-height: 20px;
        object-fit: fill;
    }

    &__social {
        display: grid;
        grid-template-columns: repeat(3, min-content);
        grid-gap: 15px;
        align-items: center;
    }

    &__payment {
        display: grid;
        grid-template-columns: repeat(3, min-content);
        grid-gap: 6px;

        &-item {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 66px;
            height: 44px;
            border-radius: 4.5px;
            background-color: $white;

            img {
                max-width: 50px;
                max-height: 30px;
                object-fit: fill;
            }
        }
    }

    &__secure-img {
        max-width: 150px;
        object-fit: fill;
    }

    &__copyright {
        border-top: 1px solid rgba($white, .1);

        @include for-mobile {
            border: none;
        }

        p {
            font-size: 14px;
            color: #e0e0e0;
        }
    }

    &__line {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 15px;

        @include for-mobile {
            flex-direction: column;
        }
    }

    &__logo {
        @include for-mobile {
            margin-bottom: 20px;
        }
    }

    &__docs-link {
        font-size: 14px;
        &:not(:last-child) {
            margin-right: 35px;

            @include for-mobile {
                margin-right: 18px;
            }
        }
    }

    &__language {
        font-size: 14px;
        color: #e0e0e0;
        text-decoration: none;
    }
}