.title {
    text-transform: uppercase;

    &--center {
        width: 100%;
        text-align: center;
    }

    &--main {
        font-size: 40px;
        font-weight: 400;
        letter-spacing: 8px;

        color: $white;
    }

    &--main-min {
        font-size: 40px;
        font-weight: 400;
        letter-spacing: 4px;
        color: $black;

        @include for-tablet {
            font-size: 24px;
        }
    }

    &--block {
        font-size: 28px;
        font-weight: 700;

        span {
            font-size: inherit;
            font-weight: 400;
        }
    }

    &--item {
        font-size: 24px;
        font-weight: 400;
        color: $black;
    }

    &-desc {
        font-size: 16px;
        letter-spacing: .65px;
        color: $dark-gray;

        &--hero {
            color: $blue;
        }
    }

    &-between {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}