footer.footer
    .wrapper.wrapper-pad
        .footer__inner
            .footer__menu 
                .footer__list.footer__list-drop
                    h2.footer__title.footer__list-title Our story 
                    .footer__list-body
                        a(href="#").footer__link About us
                        a(href="#").footer__link Contacts
                        a(href="#").footer__link Jobs
                        a(href="#").footer__link Sponsoring
                .footer__list.footer__list-drop
                    h2.footer__title.footer__list-title Support
                    .footer__list-body
                        a(href="#").footer__link Get started
                        a(href="#").footer__link FAQ
                        a(href="#").footer__link Shipping Policy
                        a(href="#").footer__link Refund Policy
                        a(href="#").footer__link Return
                        a(href="#").footer__link Trade-in
                        a(href="#").footer__link Student discont
                        a(href="#").footer__link Legal notice
                .footer__list
                    h2.footer__title Social
                    .footer__social
                        a(href="") 
                            img(src="@img/footer/Vector.svg", alt="").footer__icon
                        a(href="") 
                            img(src="@img/footer/Vector-1.svg", alt="").footer__icon
                        a(href="") 
                            img(src="@img/footer/Vector-2.svg", alt="").footer__icon
                .footer__list
                    h2.footer__title Our payment methods
                    .footer__payment
                        .footer__payment-item   
                            img(src="@img/footer/visa.png", alt="")
                        .footer__payment-item   
                            img(src="@img/footer/mastercard.png", alt="")
                        .footer__payment-item   
                            img(src="@img/footer/maestro.png", alt="")
                        .footer__payment-item   
                            img(src="@img/footer/4.png", alt="")
                        .footer__payment-item   
                            img(src="@img/footer/Stripe.png", alt="")
                .footer__list
                    h2.footer__title Secure shopping
                    img(src="@img/footer/secure.png", alt="").footer__secure-img
            .footer__copyright
                .footer__line
                    img(src="@img/footer/logo.svg", alt="").footer__logo
                    .footer__docs 
                        a(href="#").footer__link.footer__docs-link Privacy Policy
                        a(href="#").footer__link.footer__docs-link Cookie Settings
                        a(href="#").footer__link.footer__docs-link Terms of service
                .footer__line
                    p © 2022 NAKED Optics - All Rights Reserved.  | *All prices incl. VAT plus shipping costs
                    a(href="#").footer__language English  