header.header
    .header__alert 
        p.header__alert-text Free shipping over 100€ order
    nav.header__menu
        .wrapper 
            .header__menu-inner 
                .burger 
                    .burger__line
                    .burger__line
                    .burger__line
                .logo.header__logo
                    a(href="index.html") 
                        img(src="@img/logo.svg", alt="").header__logo-img
                .header__nav
                    a(href="#").header__link.link Optics
                    a(href="#").header__link.link Clothing
                    a(href="#").header__link.header__link-gradient.link Outlet
                    a(href="#").header__link.link Naked heroes
                    a(href="#").header__link.link Stories
                .header__tabs
                    a(href="").header__tab.header__search
                        img(src="@img/search-icon.svg", alt="")
                    a(href="").header__tab.header__account
                        img(src="@img/acoount-icon.svg", alt="")
                    a(href="").header__tab.header__cart
                        img(src="@img/cart-icon.svg", alt="")
                        .header__cart-count 
                            p 0